
@{
    ViewBag.Title = "Index";
}
<style>
    .has-feedback .form-control-feedback {
        top: 0px;
        right: 10px;
    }
</style>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
        <li class="breadcrumb-item active">Đơn vị</li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" id="btnThemMoi" type="button"><i class="fa fa-save"></i> Thêm mới</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div id="tree_donvi"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Danh sách đơn vị
                </div>
                <div class="panel-body">
                    <input type="hidden" id="id" name="id" />
                    <table id="table_donvi" class="table table-bordered table-responsive" style="width: 100%;">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkall" /></th>
                                <th width="80%">Tên đơn vị</th>
                                <th width="20%">Thao tác</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
    <div class="modal" id="DonVi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Cập nhật đơn vị</h4>
                    <button type="button" class="close" id="btnClose" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="frmDonVi">
                    <div class="form-group row m-b-15">
                        <label for="DonViCha" class="col-md-3 col-form-label">Đơn vị : </label>
                        <div class="col-md-9">
                            <input class="form-control" id="DonViCha" name="DonViCha" type="text" />
                            <input type="hidden" id="idCha" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label for="tenDonVi" class="col-md-3 col-form-label">Tên tập thể: </label>
                        <div class="col-md-9">
                            <input type="hidden" id="id" />
                            <input class="form-control" id="tenDonVi" name="tenDonVi" type="text" onkeyup="checkExistDV()" />
                            <label id="txtTenDonVi" name="txtTenDonVi" style="color: red; font-size: 10px;"></label>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="input-append">
                                <span class="btn btn-outline btn-primary btn-file">
                                    <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;Chọn file hình ảnh</span>
                                    <span class="fileinput-exists"><i class="fa fa-plus"></i>&nbsp;Thay đổi</span><input type="file" id="fileQD" multiple />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate"><i class="fa fa-sync"></i> Cập nhật</button>
                    <button type="button" class="btn btn-danger" id="btnCloseModal" data-dismiss="modal"><i class="fa fa-window-close"></i> Đóng lại</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mdlSearch" tabindex="2" role="dialog" aria-labelledby="myModalLabelSearch" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="z-index: 1600;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelSearch">Tìm kiếm đơn vị</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="searchCQQL">Tìm kiếm: </label>
                            <input type="text" class="form-control" id="searchDonVi" name="searchDonVi" placeholder="Tìm kiếm..." />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="using_json"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnTreeSelected" onclick="GetTreeSelected();"><i class="fa fa-hand-point-right"></i> Chọn</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script>
    var flag = 0;
    $(document).ready(function () {
        activeMenu("liDanhMuc", "liDonVi");
        $.noConflict();
        validator();
        loadMainTree();
        loadData();
    });
    function loadData(ID) {
        flag = 0;

        $("#table_donvi").DataTable({
            "ajax": {
                "url": "/DonVi/GetListDonVi",
                "data": { id: ID },
                "type": "GET",
                "datatype": "json",
                "contentType": "application/json;charset=UTF-8"
            },
            "columns": [
                {
                    "data": "id", "render": function (data) {
                        return "<input type='checkbox' class='checkitem' value='" + data + "' />";
                    }
                },
                { "data": "tenDonVi" },

                {
                    "data": "id", "render": function (data) {
                        return "<a class='fa fa-edit' href='#' data-toggle='tooltip' title='Cập nhật' onclick='return GetById(" + data + ")'></a>&nbsp;&nbsp;<a class='fa fa-trash' href='#' data-toggle='tooltip' title='Xóa' onclick='DeleteById(" + data + ")'>"
                    }
                }
            ],
            destroy: true,
            ordering: false,
            paging: true,
            searching: true,
            bInfo: false
        });
    }



    //Reset bootstrap validator
    $('#DonVi').on('hide.bs.modal', function () {
        $('#frmDonVi').bootstrapValidator('resetForm', true);
    });
    //Validate
    function validator() {
        $('#frmDonVi').bootstrapValidator({
            message: 'Giá trị không hợp lệ',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                tenDonVi: {
                    validators: {
                        notEmpty: {
                            message: 'Nhập tên đơn vị!'
                        }
                    }
                },
                DonViCha: {
                    validators: {
                        notEmpty: {
                            message: 'Nhập đơn vị cha!'
                        }
                    }
                }
            }
        });
        var validatorObj = $('#frmDonVi').data('bootstrapValidator');
        validatorObj.validate();
        if (validatorObj.isValid()) {
            return true;
        }
        return false;
    }

    function loadMainTree() {
        $('#tree_donvi').jstree({
            "plugins": ["search"],
            "checkbox": {
                "three_state": true,
                "keep_selected_style": false
            },
            'core': {
                'data': {
                    "themes": {
                        "responsive": true
                    },
                    "url": "/DonVi/LoadTreeDonVi",
                    "dataType": "json"
                }
            }
        }).on("select_node.jstree", function (e, data) {
            $("#id").val(data.node.id);

            loadData(data.node.id);
        });
    }

    //Load cây đơn vị
    function loadTreeDonVi() {

        $("#mdlSearch").modal('show');
        $('#using_json').jstree({
            "plugins": ["search"],
            "checkbox": {
                "three_state": true,
                "keep_selected_style": false
            },
            'core': {
                'data': {
                    "themes": {
                        "responsive": true
                    },
                    "url": "/DonVi/LoadTreeDonVi",
                    "dataType": "json"
                }
            }
        });
        $('#using_json').jstree(true).search($('#searchDonVi').val());
        var to = null;
        $('#searchDonVi').keyup(function () {
            if (to) { clearTimeout(to); }
            to = setTimeout(function () {
                var v = $('#searchDonVi').val();
                $('#using_json').jstree(true).search(v);
            }, 250);
        });

    }
    function checkExistDV() {
        var to = null;
        if (to) { clearTimeout(to); }
        to = setTimeout(function () {
            $.get("/DonVi/ExistTenDonVi", { label: $("#tenDonVi").val() }, function (data) {
                console.log(data);
                if (data == "True") {
                    $("#txtTenDonVi").text("");
                    document.getElementById("btnUpdate").disabled = false;
                }
                else {
                    if ($("#tenDonVi").val() == "") {
                        $("#txtTenDonVi").text("");
                        document.getElementById("btnUpdate").disabled = false;

                    }
                    else {
                        $("#txtTenDonVi").text("Tên đơn vị đã trùng");

                        document.getElementById("btnUpdate").disabled = true;
                    }



                }
            })
        }, 500);

    }
    //Xử lý khi chọn node trên cây đơn vị
    function GetTreeSelected() {
        var result;
        try {
            result = $('#using_json').jstree('get_selected');
            $("#DonViCha").val($('#using_json').jstree('get_selected', true)[0].text);
            $("#idCha").val(result);
            $("#mdlSearch").modal('hide');
        }
        catch (err) {
            alert("Chưa chọn đơn vị");
        }

    }
    $("#btnClose").click(function () {
        flag = 0;
        $("#DonVi").modal('hide');
        $('#frmDonVi').bootstrapValidator('resetForm', true);

    })
    $("#btnCloseModal").click(function () {
        flag = 0;
        $("#DonVi").modal('hide');
        $('#frmDonVi').bootstrapValidator('resetForm', true);

    })
    function GetById(Id) {
        flag = 1;
        $("#DonVi").modal('show');

        $("#id").val(Id);
        $('#frmDonVi').bootstrapValidator('resetForm', true);

        $.ajax({
            url: "DonVi/GetDonViById",
            data: { ID: Id },
            type: "GET",
            datatype: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (data) {
                $("#tenDonVi").val(data.tenDonVi);
                $("#idCha").val(data.idCha);

                $("#txtTenDonVi").text("");
                $("#myModalLabel").text("Cập nhật đơn vị");

                $("#btnUpdate").text("Cập nhật");
                document.getElementById("btnUpdate").disabled = false;
                getTenDonViById(data.idCha);
            },
            error: function (errormessage) {
                showToast("error", errormessage.responseText, "Thông báo lỗi");
            }
        });
    }
    $(document).keypress(function (e) {
        if (e.which == 13 || event.keyCode == 13) {
            if (flag == 1) {
                $("#btnUpdate").click();

                document.getElementById("tenDonVi").focus();
                $("#DonViCha").val("");
                $("#tenDonVi").val("");
            }
        }
    });

    $("#btnUpdate").click(function () {
        if ($("#id").val() != 0) {
            var fileUpload = $("#fileQD").get(0);
            var files = fileUpload.files;
            var fileData = new FormData();
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            fileData.append('id', $("#id").val());
            fileData.append('idCha', $("#idCha").val());
            fileData.append('tenDonVi', $("#tenDonVi").val());
            $.ajax({
                url: "/DonVi/UpdateDonVi",
                data: fileData,
                type: "POST",
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data == "addsuccess") {
                        showToast("success", "Thêm mới đơn vị thành công!", "Thông báo")
                    }
                    else if (data == "anh") {
                        showToast("warning", "Không đúng định dạng ảnh jpg hoặc png!", "Thông báo")
                    }
                    else if (data == "updatesuccess") {
                        showToast("success", "Cập nhật đơn vị thành công!", "Thông báo")
                        $("#DonVi").modal('hide');
                    }
                    else {
                        showToast("warning", "Có lỗi khi cập nhật đơn vị!", "Cảnh báo")
                    }
                    $("#tenDonVi").val("");
                    loadData();

                },
                error: function (errormessage) {
                    showToast("error", error.responseText, "Thông báo lỗi");
                }
            });
        }
        else {
            var isValid = validator();
            if (isValid) {
                var fileUpload = $("#fileQD").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                fileData.append('id', $("#id").val());
                fileData.append('idCha', $("#idCha").val());
                fileData.append('tenDonVi', $("#tenDonVi").val());
                $.ajax({
                    url: "/DonVi/UpdateDonVi",
                    data: fileData,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    enctype: 'multipart/form-data',
                    success: function (data) {
                        if (data == "addsuccess") {
                            showToast("success", "Thêm mới đơn vị thành công!", "Thông báo")
                        }
                        else if (data == "anh") {
                            showToast("warning", "Không đúng định dạng ảnh jpg hoặc png!", "Thông báo")
                        }
                        else if (data == "updatesuccess") {
                            showToast("success", "Cập nhật đơn vị thành công!", "Thông báo")
                            $("#DonVi").modal('hide');
                        }
                        else {
                            showToast("warning", "Có lỗi khi cập nhật đơn vị!", "Cảnh báo")
                        }
                        $("#tenDonVi").val("");
                        loadData();

                    },
                    error: function (errormessage) {
                        showToast("error", error.responseText, "Thông báo lỗi");
                    }
                });
            }
        }

    });
    $("#DonViCha").click(function () {
        loadTreeDonVi();
    })

    $("#btnThemMoi").click(function () {
        flag = 1;
        $("#id").val(0);
        $("#DonVi").modal('show');
        $("#DonViCha").val("Tập đoàn bưu chính viễn thông");
        $("#tenDonVi").val("");
        $("#txtTenDonVi").text("");

        $("#idCha").val("");
        $("#myModalLabel").text("Thêm mới đơn vị");
        $("#btnUpdate").text("Thêm mới");
        $('#frmDonVi').bootstrapValidator('resetForm', true);
        document.getElementById("btnUpdate").disabled = false;


    })
    function DeleteById(Id) {
        var ans = confirm("Bạn chắc chắn muốn xóa bản ghi?");
        if (ans) {
            $.post('/DonVi/DeleteByID/', { id: Id }, function (data) {
                if (data == "success") {
                    showToast("success", "Xóa bản ghi thành công!", "Thông báo")
                    loadData();
                }
                else if (data == "warning") {
                    showToast("warning", "Tên đơn vị này đang tồn tại trong danh mục nhân viên!", "Cảnh báo")
                }
            }).fail(function (error) {
                showToast("error", error.responseText, "Thông báo lỗi");
            })
        }
    }
    function getTenDonViById(ID) {
        flag = 1;
        $.get('/DonVi/GetNameDonViById', { ID: ID }, function (data) {
            $("#DonViCha").val(data);
        }).fail(function (error) {
            alert(error.responseText);
        })
    }

</script>