@{
    ViewBag.Title = "Home Page";
}

<!-- Font Awesome CSS -->
<!-- Additional CSS -->
<link rel="stylesheet" href="~/assets/css/main.css">

<!-- Animate CSS -->
<!-- Start Content-->

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-btn btn-group float-right">


                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-md-12">

            <h1 class="text-center carousel-title">Viễn thông Quảng Bình - VNPT</h1>
            <hr>

        </div>
        <!-- Page Content -->
        <div class="col-md-12">

            <div id="carouselExample" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExample" data-slide-to="0" class="active">
                        <img class="rounded-circle" src="https://vnn-imgs-a1.vgcloud.vn/img.infonet.vn/w490/Uploaded/2020/xqeioxrkxr/2016_08_26/cong_doan_1_copy.jpg" alt="Third slide">
                    </li>


                    <li data-target="#carouselExample" data-slide-to="1">
                        <img class="rounded-circle" src="https://www.quangbinh.gov.vn/3cms/upload/qbportal/Image/TintucSuKien/2020/07/550.jpg" alt="Second slide">
                    </li>


                    <li data-target="#carouselExample" data-slide-to="2">
                        <img class="rounded-circle" src="http://congdoan.vnpt.vn/uploads/0810.nucuoi02.jpg" alt="Five slide">
                    </li>
                    <li data-target="#carouselExample" data-slide-to="3">
                        <img class="rounded-circle" src="~/assets/images/quangbinh_trienkhai2017_01.jpg" alt="First slide">
                    </li>
                    <li data-target="#carouselExample" data-slide-to="4">
                        <img class="rounded-circle" src="~/assets/images/images590220_anh1.jpg" alt="Four slide">
                    </li>

                </ol>

                <div class="carousel-inner" id="list-item">
                    <div class="carousel-item active">

                        <blockquote class="blockquote">
                            "Nụ Cười VNPT"
                        </blockquote>
                        <small>
                            - 2016 -
                        </small>

                    </div>



                    <div class="carousel-item">

                        <blockquote class="blockquote">
                            "Điển Hình Tiên Tiến."
                        </blockquote>
                        <small>
                            - 2015 - 2020 -
                        </small>

                    </div>

                    <div class="carousel-item">

                        <blockquote class="blockquote">
                            "Cá Nhân Điển Hình Phong Trào Nụ Cười VNPT."
                        </blockquote>
                        <small>
                            - 2018 -
                        </small>

                    </div>
                    <div class="carousel-item ">

                        <blockquote class="blockquote">
                            "Đơn Vị Thi Đua Xuất Sắc"
                        </blockquote>
                        <small>
                            - 2016 -
                        </small>

                    </div>

                    <div class="carousel-item">

                        <blockquote class="blockquote">
                            "Đơn Vị Thi Đua Xuất Sắc VNPT Quảng Bình."
                        </blockquote>
                        <small>
                            - 2015 -
                        </small>

                    </div>




                </div>
                <!-- End of Carousel Inner -->

                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">

                    <i class="fas fa-chevron-circle-left fa-2x"></i>

                </a>
                <!-- End of Carousel Control Prev -->

                <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">

                    <i class="fas fa-chevron-circle-right fa-2x"></i>

                </a>
                <!-- End of Carousel Control Next -->

            </div>
            <!-- End of CarouselExample -->

        </div>
        <!-- End of Col-md-12 -->
        <!--<div class="col-md-6">-->
        <!-- AREA CHART -->
        <!--<div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div class="chart" id="revenue-chart" style="height: 300px;"></div>
        </div>-->
        <!-- /.box-body -->
        <!--</div>
        </div>
        <div class="col-md-6">-->
        <!-- LINE CHART -->
        <!--<div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div class="chart" id="line-chart" style="height: 300px;"></div>
        </div>-->
        <!-- /.box-body -->
        <!--</div>
        </div>-->
        <!-- /.col (RIGHT) -->
    </div>
</div> <!-- end container-fluid -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!-- Bootstrap JQuery Plugin -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>-->
@*<script>
        $(function () {
            "use strict";

            // AREA CHART
            var area = new Morris.Area({
                element: 'revenue-chart',
                resize: true,
                data: [
                    { y: '2011 Q1', item1: 2666, item2: 2666 },
                    { y: '2011 Q2', item1: 2778, item2: 2294 },
                    { y: '2011 Q3', item1: 4912, item2: 1969 },
                    { y: '2011 Q4', item1: 3767, item2: 3597 },
                    { y: '2012 Q1', item1: 6810, item2: 1914 },
                    { y: '2012 Q2', item1: 5670, item2: 4293 },
                    { y: '2012 Q3', item1: 4820, item2: 3795 },
                    { y: '2012 Q4', item1: 15073, item2: 5967 },
                    { y: '2013 Q1', item1: 10687, item2: 4460 },
                    { y: '2013 Q2', item1: 8432, item2: 5713 }
                ],
                xkey: 'y',
                ykeys: ['item1', 'item2'],
                labels: ['Item 1', 'Item 2'],
                lineColors: ['#a0d0e0', '#3c8dbc'],
                hideHover: 'auto'
            });

            // LINE CHART
            var line = new Morris.Line({
                element: 'line-chart',
                resize: true,
                data: [
                    { y: '2011 Q1', item1: 2666 },
                    { y: '2011 Q2', item1: 2778 },
                    { y: '2011 Q3', item1: 4912 },
                    { y: '2011 Q4', item1: 3767 },
                    { y: '2012 Q1', item1: 6810 },
                    { y: '2012 Q2', item1: 5670 },
                    { y: '2012 Q3', item1: 4820 },
                    { y: '2012 Q4', item1: 15073 },
                    { y: '2013 Q1', item1: 10687 },
                    { y: '2013 Q2', item1: 8432 }
                ],
                xkey: 'y',
                ykeys: ['item1'],
                labels: ['Item 1'],
                lineColors: ['#3c8dbc'],
                hideHover: 'auto'
            });


        });
    </script>*@

